@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Lato:wght@300;400;700;900&display=swap");
:root {
  --white: #ffffff;
}
/* Global */
* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
}
html {
  background: black;
}
body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--white);
  overflow-x: hidden;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}
h1 {
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
h2 {
  font-size: 42px;
}
h3 {
  font-size: 31px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 23px;
}
h6 {
  font-size: 21px;
}
p {
  font-size: 16px;
}

label {
  font-family: "Roboto", sans-serif;
  font-family: "Sen", sans-serif;
  font-size: 14px;
}
a {
  color: initial;
}
a:hover {
  color: var(--primary);
}
a:active {
  color: var(--primary);
}
/* buttons */
.nav-btn-group {
  border-radius: 5px;
  background: rgba(217, 217, 217, 0.47);
}
.btn-outline-primary {
  border: 2px solid var(--white);
  border-radius: 5px;
}
.btn-outline-secondary {
  border-radius: 214px;
  border: 1px solid #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 15px 30px;
  color: #fff;
  font-size: 15px;
}
.btn-info {
  border-radius: 9px;
  background: #721cff;
  color: var(--white);
  border: 1px solid #721cff;
  padding: 10px 45px;
}
/* Header */
.header {
  margin-bottom: -123px;
  z-index: 100;
  position: relative;
  margin-top: 15px;
}
.header .nav-btn-group .btn {
  color: var(--white);
}
.navbar {
  border-radius: 0px 5px 5px 0px;
  background: rgba(217, 217, 217, 0.27);
  mix-blend-mode: color-dodge;
  --bs-navbar-padding-y: 0rem;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--white);
}
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: space-around;
}
.nav-item {
  padding: 0 15px;
}
/* hero  section */
.hero {
  background: linear-gradient(
      0deg,
      rgba(27, 20, 100, 0.7),
      rgba(27, 20, 100, 0.7)
    ),
    url("../image/hero-bg.jpg") center center no-repeat;
  background-size: cover;
  padding-top: 220px;
  padding-bottom: 95px;
  position: relative;
}
.hero .container:nth-child(1) img {
  object-fit: contain;
}
.hero-form {
  border-radius: 13px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(245, 244, 255, 0.17);
  padding: 20px 0;
}
.hero-form .form-control {
  border-radius: 13px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(245, 244, 255, 0.17);
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 13px 10px 13px 40px;
}
.hero-form .form-control::placeholder {
  color: rgba(255, 255, 255, 0.3);
  opacity: 1; /* Firefox */
  font-size: 12px;
}
.hero-form .row {
  margin: 0 10px;
}
.hero-text {
  width: 75%;
}
.hero-form .form-group {
  position: relative;
}

.form-group .icon {
  width: 30px;
  height: 100%;
  position: absolute;
  top: 22%;
  left: 10px;
}
/* How it works */

.how-works {
  background: url("../image/how-workd-bg.png") center no-repeat;
  background-size: cover;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  background-color: #1e1d2a;
}

.how-work-icons {
  height: 100px;
  width: 100px;
  padding-left: 20px;
}
.work-conatainer {
  /* width: 60%; */
  padding: 0 35px;
}
.work-item img {
  width: 120px;
  height: 100%;
  margin-bottom: 15px;
}
.btn-down-arrow {
  width: 50px;
  height: 50px;
  margin-left: 30px;
}
.how-works .btn-outline-secondary {
  padding: 3px 3px 3px 30px;
}
/*  feature table  section*/
.features-table {
  padding-top: 45px;
  padding-bottom: 60px;
  position: relative;
  background-color: #23283b;
}

.features-table .btn-outline-secondary {
  padding: 5px 3px 3px 20px;
  width: 356px;
  height: 37px;
  display: flex;
  justify-content: space-between;
}

.features-table .btn-down-arrow {
  width: 27px;
  height: 27px;
  margin-left: 30px;
}
.features-table .table {
  border: 1px solid #fff;
}
.features-table .table th {
  color: var(--white);
}
.features-table .table h5,
p {
  color: var(--white) !important;
}
.table-icon {
  width: 55px;
  height: 55px;
}
.features-table .table th p {
  margin-bottom: 0px;
}
.table-icon-header {
  width: 150px;
  background: #040343 !important;
  color: var(--white);
}
.features-table .first-header {
  background: #0d0909;
  padding-left: 15px;
  padding-bottom: 35px;
}
.features-table .table .table-heading {
  padding: 25px 0;
  background: #23283b;
  padding-left: 15px;
}
.table-heading h4 {
  font-size: 38px;
}
.features-table .table .table-text {
  background: #040343;
  color: var(--white);
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
}

.table-heading .sub-heading {
  font-size: 15px;
  /* padding: 30px 15px; */
}
.features-table .table tbody tr:nth-child(1) .table-heading {
  padding: 40px 15px;
}
.features-table .table tbody tr:nth-child(1) .table-text {
  padding: 40px 15px;
}
.table-check-icon {
  width: 52px;
  height: 50px;
}
.sub-heading-small {
  font-size: 10px;
}
/* customer review */
.customer-review {
  padding-bottom: 60px;
  position: relative;
  background-color: #23283b;
}
.customer-container {
  margin-top: 60px;
}

.customer-images img {
  width: 227px;
  height: 100%;
  border-radius: 6px;
}
.customer-images .image-container {
  position: relative;
}
.customer-images .image-border {
  position: absolute;
  border-radius: 6px;
  border: 1px solid #fff;
  width: 227px;
  height: 100%;
  top: 0;
  transform: rotate(7.15deg);
}
/* Booking */
.booking {
  padding-bottom: 30px;
  position: relative;
  background-color: #23283b;
}
.booking .row:nth-child(1) h6 {
  font-weight: 300;
}
.booking-form .form-control {
  border-radius: 8px;
  border: 1.5px solid #fff;
  background-color: transparent;
  padding: 14px 10px 14px 50px;
}
.booking-list {
  font-size: 14px;
}

.booking-form .form-group {
  position: relative;
}

.booking-form .form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
  opacity: 1; /* Firefox */
  font-size: 21px;
}

/* Footer section */
.footer {
  background-color: #222229;
  padding: 40px 0 20px 0;
}
.footer-item-text {
  font-size: 10px;
}
.footer-item {
  padding: 0 30px;
}
.footer-item img {
  margin-left: 30px;
  margin-bottom: 15px;
  width: auto;
}
.footer .social-icons {
  width: 80%;
  height: 35px;
}
.footer .footer-subtitle {
  font-size: 27px;
}
.footer ul {
  list-style: none; /* Remove HTML bullets */
  padding: 0;
  margin: 0;
}
.footer ul li {
  list-style-type: none;
}
.footer ul li a {
  color: #fff;

  font-family: Lato;
  font-size: 14px;
}
.footer-info-icon {
  width: 18px;
  height: 25px;
}
.footer .info-text {
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 300;
}
.footer .information ul li {
  margin-bottom: 15px;
}
.footer .subscribe .btn-info {
  width: 100%;
}
/* ===== responsice style ==== */
/* navbar */

@media (max-width: 992px) {
  .navbar {
    position: absolute !important;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 10;
    background: rgba(217, 217, 217, 0.65);
  }
  .nav-btn-group {
    display: none !important;
  }
}

/* cusotmer */
@media (max-width: 575.98px) {
  .customer-images {
    flex-direction: column;
    align-items: center;
  }

  .customer-images .image-container {
    margin-bottom: 30px;
  }
}
